com-1password-op-button {
    all: initial !important;
}

com-1password-op-button#com-1password-op-button {
    position: absolute !important;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer !important;
    z-index: 5 !important;
}
com-1password-op-button.op-small#com-1password-op-button{
   width: 12px !important;
   height: 12px !important;
}
com-1password-op-button.op-large#com-1password-op-button{
   width: 24px !important;
   height: 24px !important;
}

/* com-1password-op-button[data-state='inactive'] {
    content: url('$BASE_URL/images/icons/app_icon-mono.svg') !important;
}
com-1password-op-button[data-state='inactive'].op-small, com-1password-op-button[data-state='inactive'].op-large {
    content: url('$BASE_URL/images/icons/app_icon-12-mono.svg') !important;
} */

com-1password-op-button#com-1password-op-button {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

com-1password-op-button#com-1password-op-button[data-state='locked'] {
    background-image: url('$BASE_URL/images/icons/app_icon-light_bg-color-locked-16.svg') !important;
}
com-1password-op-button#com-1password-op-button[data-state='locked'].op-small, com-1password-op-button#com-1password-op-button[data-state='locked'].op-large {
    background-image: url('$BASE_URL/images/icons/app_icon-light_bg-color-locked-12.svg') !important;
}

com-1password-op-button#com-1password-op-button[data-state='active'] {
    background-image: url('$BASE_URL/images/icons/app_icon-light_bg-color-unlocked-16.svg') !important;
}
com-1password-op-button#com-1password-op-button[data-state='active'].op-small, com-1password-op-button#com-1password-op-button[data-state='active'].op-large {
    background-image: url('$BASE_URL/images/icons/app_icon-light_bg-color-unlocked-12.svg') !important;
}

op-notch {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

op-notch {
    position: absolute;
    width: 22px;
    height: 11px;
    background-image: url('$BASE_URL/images/inline/inline_notch.svg') !important;
    background-color: hsl(0, 0, 97%);
    opacity: 0;
    transition: opacity 0.1s;    
}

op-notch.locked {
    background-image: url('$BASE_URL/images/inline/inline_notch-locked.svg') !important;    
}

op-notch.ready {
    opacity: 1;
}

iframe#op-popup {
    height: 0px;
    border-style: none;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 24px rgba(0,0,0,0.07);
    background: #fff;
    min-width: 250px;
    width: 250px;
    /* height transition causes painting issues in FF, we will revisit later */
    /* transition: height 0.15s ease, opacity 0.15s linear; */
    transition: opacity 0.15s linear; 
    opacity: 0;
    border: none;
    visibility: visible;
    display: none;
}

iframe#op-popup.ready {
    opacity: 1;
    display: initial;
}

iframe#op-popup.locked {
    height: 115px;
}

iframe#op-save-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 2147483647;
    border: none;
    visibility: visible;
}

body[op-scroll-lock] {
    overflow: hidden;
}

input[data-com-onepassword-filled='dark'] {
    background-color: rgb(36, 107, 179) !important;
}

input[data-com-onepassword-filled='light'] {
    background-color:  hsl(210, 100%, 93%) !important; /* $color-focus */
}